.footer__column-link {
    line-height: 30px;
    font-size: 18px;
    font-weight: 400;
    color: white;
    text-decoration: none;
    transition: all .3s ease-in;
}

.footer__column-link:hover {
  opacity: .6;
}
